﻿
    /* Cover Page */
    .cover-date{
        padding-top:5%;
        font-size:3rem;
        text-transform:uppercase;
        color:white;
        font-weight:bold;
    }

    .red{
        background-color:#e8242e;
    }

    .cover-top{
        text-transform:uppercase;
        font-size:2rem;
        font-weight:bold;
        padding-top:4rem;
        margin-left:20%;
        margin-right:20%;
        color:white;
        padding-bottom:5rem;
    }

    .cover-logo{
        margin-right:auto;
        margin-left:auto;
        display:block;
    }

    .cover-updates {
        color:white;
        text-transform:uppercase;
        font-weight:900;
        font-size:1.2rem;
    }
     .cover-updates a{
         color:white;
     }

     .white {
         background-color:white;
     }

     .cover-link{
         text-decoration:underline;
     }

     #mce-EMAIL {
         width:14rem;
         float:right;
     }

     #mc-embedded-subscribe{
         background-color:white;
         color:#e8242e;
         font-size:1rem;
         padding-top:0.5rem;
         padding-bottom:0.5rem;
     }

     .cover-button{
         padding-left:0px !important;
     }