 #register-google-btn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 200px;
      border-radius: 5px;
      white-space: nowrap;
    }
    #register-google-btn:hover {
      background: #e74b37;
      cursor: pointer;
    }
    span.label {
      font-weight: bold;
    }
    span.register-google-btn-icon {
      background: url('./../images/register/google_btn_red_32.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-right: #bb3f30 1px solid;
    }
    span.register-google-btn-text {
      display: inline-block;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 35px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
    }