/* Scss Edits for Zaposh */
/* ZAPOSH COLORS */
/* Color of the top bar navigation */
/* line 11, ../scss/zaposh_scss.scss */
.red-square {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #e8252d;
  border: solid 1px gray;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
}
