.full-width {
    width: 100%;
    max-width: none;
}

.front-page img, .front-page .row {
    max-width:none;
    width: 100%;
}

.front-page h3 {
    font-family: 'Spinnaker', sans-serif;
    text-transform:uppercase;
    text-align:center;
    padding: 2rem;
}

.product-title {
    background: #cb2028;
    position: relative;
    z-index:100;
}

.product-title p {
    color: white;
    font-family: 'Spinnaker', sans-serif;
    text-transform:uppercase;
    text-align:center;
    font-size: 80%;
    padding: 1rem;
}

.product-title a {
    color: white;
}

.section-hot a:hover .product-title {
    background: #AD1C23;
}

.section-hot .product-image {
  overflow: hidden;
}
.section-hot .product-image img, .product-title {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.section-hot .product-image:hover img {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.footer {
    background-color: #e6e6e6;
    font-family: 'Raleway', sans-serif;
    padding: 2rem;
}

.footer h6 {
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    color: #cb2028;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.footer h6.second {
    padding-top: 1.5rem;
}

.footer li {
    list-style-type: none;
    padding-left: 0;
}

.footer ul {
    margin-left: 0;
}

.footer a {
    color: #222;
}

.footer a:hover {
    color: #6f6f6f;
}

.top-bar, .contain-to-grid {
    background-color: #cb2028;
}

.title-area .logo {
    height: 18px;
    margin-top: 12px;
    margin-right: 1rem;
}

.top-bar-section .left li, .top-bar-section .right li, .top-bar-section ul li > a, .top-bar-section .dropdown li a, .top-bar-section li a:not(.button) {
    color: white;
    font-family: 'Spinnaker', sans-serif;
    text-transform:uppercase;
    background-color: #cb2028;
}

.top-bar-section .left li a:hover, .top-bar-section .right li a:hover  {
    background-color: #B01C23;
}

.top-bar-section .has-dropdown > a:after {
    content:initial;
}


.top-bar-section ul {
    background-color: #cb2028;
}

.top-bar-section li.login {
    margin-top: 0.5rem;
    margin-right: 1.5rem;
}

.top-bar-section li.login a  {
    background: white;
    color:#cb2028;
    padding: 1px 7px;
    margin: 0;
    line-height: 24px;
}

.top-bar-section .right li.language {   
    margin-left: 0.3rem;
    font-size:70%;
}

.top-bar-section .right li.language a {
    padding: 0;
}

.lang-divider {
    margin-top: 13px;
}

.section-buy-rent img {
    max-width: none;
    width: 100%;
}

#ninja-slider {
    width:100%;
    max-width:100%;
    /*min-width:375px;
    background:#191919;*/
    padding: 0;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider .slider-inner {
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
}

#ninja-slider ul {
    /*background-color:black;*/
    position:relative;
    list-style:none;
    padding:0;
    margin:0;
}

#ninja-slider li {    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    transform-style: preserve-3d; /*prevent blurry of its children*/
}

#ninja-slider li.ns-show {
    opacity:1;
}


/*---------- Slide Content -------------------*/

#ninja-slider div.content img {
    float:right;
    width:100%;
    margin:0 0 20px 20px;
}

/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}    

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-51px;/*pager's height should also be counted*/
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.4s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}


#ninja-slider-prev {
    left: 0px; /*set it with a positive value if .slider-inner does not have max-width setting.*/
}
#ninja-slider-next {
    right: 0px;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 5px solid white;
    border-top: 5px solid white;
    backface-visibility:hidden;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    left:14px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    right:14px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev:hover, #ninja-slider-next:hover {width:80px;background-color:rgba(0,0,0,0.8);}
#ninja-slider-prev div {margin-right:8px;white-space:nowrap;opacity:0;float:right;}
#ninja-slider-next div {margin-left:8px;white-space:nowrap;opacity:0;float:left;}
#ninja-slider-prev:hover div, #ninja-slider-next:hover div {opacity:1;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider-pager { display:none;}

/*Responsive settings*/
@media only screen and (max-width:700px){

    #ninja-slider div.content {
        font-size:1em;
    }
    
    #ninja-slider div.content h3 {
        font-size:2em;
    }

    #ninja-slider div.content img {
        display:none;
    }
    #ninja-slider-prev, #ninja-slider-next {
        display:none;
    }
}
