.navigation {
	width: 100%;
}

.navigation img {
	width: 16%;
}

.top-navigation-zaposh .subcategories{
	font-size: 90%;
	background-color: white;
	width: 16%;
	margin-top: 1em;
	float: left !important;
}

.top-navigation-zaposh .subcategories ul{
	margin-bottom: 0;
}

.top-navigation-zaposh .subcategories li{
	list-style-type: none;
	font-size: 0.7rem;
}

.top-navigation-zaposh .subcategories li strong{
	text-decoration: underline;
	font-size: 0.9rem;
}

.top-navigation-zaposh img:hover {
	opacity: .7;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.front-page-images img.no-bottom-padding {
	padding-bottom: 0 !important;
}

