﻿@charset "utf-8";

.front-grid {
    text-align: center;
}

.front-page-images img {
    padding-bottom: 4px;
}

.footer p {
    font-size: 0.8rem;
}

.footer li {
    font-size: 0.8rem;
}

.top-bar input {
    height: 1.9rem;
}

.top-bar .prefix, .top-bar .postfix {
    height: 1.93rem;
}

.gray-bg {
    background: #4d4d4d;
}

    .gray-bg:hover {
        background-color: #333333;
    }

    .gray-bg:focus {
        background-color: #333333;
    }

.top-navigation-zaposh .columns {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.product-display-thumb-image li {
    padding-bottom: 0.6rem;
    padding-top: 0px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

/* Zaposh dark #cb2027 */
/* Zaposh light #e8252d */

.zaposh-color-lighter {
    background: #e8252d;
}

    .zaposh-color-lighter:hover {
        background-color: #cb2027;
    }

    .zaposh-color-lighter:focus {
        background-color: #cb2027;
    }

.center-element {
    text-align: center;
}
/*
.contain-to-grid, .top-bar, .top-bar-section .has-form {
	background:#e8252d;
}

.top-bar-section li a:not(.button):hover{
	background: #cb2027;
}*/

.button.postfix {
    line-height: 1rem;
}

.small-block-grid-2 > li {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    padding-bottom: 0.6rem;
}

.seller-name {
    font-size: 1.1rem;
}

.profile-picture-panel {
    margin-right: 0.8rem;
}

/* Button animation */
.a-btn {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.a-btn-text {
    display: block;
    white-space: nowrap;
    font-size: 1rem;
}

.a-btn-slide-text {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 160px;
    white-space: nowrap;
    text-align: left;
    text-indent: 35px;
    overflow: hidden;
    line-height: 38px;
    font-size: 0.9rem;
}

.a-btn:hover {
    padding-right: 150px;
}



.a-btn-reverse {
    background: #fff;
    border: 1px solid #e8252d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.a-btn-text-reverse {
    display: block;
    white-space: nowrap;
    font-size: 1.2rem;
    color: #e8252d;
}

.a-btn-slide-text-reverse {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 160px;
    white-space: nowrap;
    text-align: left;
    text-indent: 35px;
    overflow: hidden;
    line-height: 2.1rem;
    font-size: 0.9rem;
    color: #e8252d;
}

.a-btn-reverse:hover {
    padding-right: 150px;
}

    .a-btn-reverse:hover .a-btn-text-reverse {
        color: #fff;
    }

    .a-btn-reverse:hover .a-btn-slide-text-reverse {
        color: #fff;
    }

.a-btn-reverse2:hover {
    padding-right: 150px;
}

    .a-btn-reverse2:hover .a-btn-text-reverse {
        color: #fff;
    }

    .a-btn-reverse2:hover .a-btn-slide-text-reverse {
        color: #fff;
    }

.a-btn-reverse2 {
    display: inline-block;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.a-btn-reverse3:hover {
    padding-right: 110px;
}

    .a-btn-reverse3:hover .a-btn-text-reverse {
        color: #fff;
    }

    .a-btn-reverse3:hover .a-btn-slide-text-reverse {
        color: #fff;
    }

.a-btn-reverse3 {
    display: inline-block;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/* END of button animation */

/* Date picker */

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    padding: 10px;
    cursor: default;
    text-transform: uppercase;
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #565656;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

    .ui-datepicker-prev span,
    .ui-datepicker-next span {
        display: block;
        width: 5px;
        height: 10px;
        text-indent: -9999px;
        background-image: url(../images/datepicker/arrows.png);
    }

.ui-datepicker-prev span {
    background-position: 0px 0px;
}

.ui-datepicker-next span {
    background-position: -5px 0px;
}

.ui-datepicker-prev-hover span {
    background-position: 0px -10px;
}

.ui-datepicker-next-hover span {
    background-position: -5px -10px;
}

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: normal;
    color: #a8a8a8;
}

.ui-datepicker-calendar td {
    padding: 0 7px;
    text-align: center;
    line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;
    text-decoration: none;
}

.ui-datepicker-other-month .ui-state-default {
    color: #565656;
}

.datepicker-not-available {
    background: #e8252d;
    color: #ffffff;
}

/* END of date picker */

.reviews-rent-item .reviews-rent-item-pic {
    padding-right: 0px;
    text-align: center;
}

.a-btn-reverse2 {
    margin: 0;
}

.crop-circle-100px {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border: 1px solid #e8252d;
}

.crop-circle-35px {
    border-radius: 17.5px;
    -webkit-border-radius: 17.5px;
    -moz-border-radius: 17.5px;
    border: 1px solid #e8252d;
}

/* MASONRY - ISOTOPE */


.item,
.item-content {
    width: 235px;
    height: 235px;
}

.item-new {
    width: 235px;
}

.item-new-profile {
    width: 230px;
}

.item {
    border: none;
    background: transparent;
}

    .item:hover .item-content {
        border-color: #e8252d;
    }

    .item.big-view,
    .item.big-view .item-content {
        height: 350px;
    }

.corner-stamp {
    height: 280px;
}

.bags-list .corner-stamp {
    height: 535px;
}

.accessories-list .corner-stamp {
    height: 705px;
}

/*
.item.big-view .item-content {
    background: red;
}
    */
.item-content {
    -webkit-transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    -o-transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(219,219,219,0.5);
    -moz-box-shadow: 1px 1px 2px 0px rgba(219,219,219,0.5);
    box-shadow: 1px 1px 2px 0px rgba(219,219,219,0.5);
}

.item-more-info {
    //display:none;
    visibility: hidden;
    opacity: 0;
}

.item.big-view .item-more-info {
    //display:inline;
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.item-more-info {
    -webkit-transition: visibility 0s ease-in-out 0.8s, opacity 0.8s ease-in-out;
    -moz-transition: visibility 0s ease-in-out 0.8s, opacity 0.8s ease-in-out;
    -o-transition: visibility 0s ease-in-out 0.8s, opacity 0.8s ease-in-out;
    transition: visibility 0s ease-in-out 0.8s, opacity 0.8s ease-in-out;
}

.item.big-view .item-more-info p {
    color: white;
}

#container .item {
    margin-bottom: 10px;
}

/* END MASONRY - ISOTOPE */

.item-content.panel {
    padding: 0;
}

.corner-stamp .panel {
    padding: 1.25rem;
}

.corner-stamp-new .panel {
    margin-bottom: 0;
}

.item-more-info {
    padding: 0.5rem;
}

    .item-more-info h5 {
        padding-bottom: 0;
        margin-bottom: 0.5rem;
    }

        .item-more-info h5.subheader {
            font-size: 1rem;
        }

.catalog-item-title {
    text-transform: uppercase;
    font-weight: bold;
}

#bags-rent-all,
#bags-buy-all,
#dresses-rent-all,
#dresses-buy-all,
#accessories-rent-all,
#accessories-buy-all {
    margin: 0;
}

#container .item-new,
#container .item-new-profile {
    margin-bottom: 10px;
}

/* Profile page */

.profile-picture {
    border: 2px solid #e8252d;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
}

.closet-item.panel {
    padding: 0;
    margin-bottom: 0px;
    position: relative;
}

.product-info {
    padding: 0.7rem;
}

h5.price-info {
    margin-bottom: 0px;
}

.profile-title {
    text-transform: uppercase;
}

.profile-name {
    margin-bottom: 1rem;
}

.wishlist-over-image {
    position: absolute;
    top: 0;
    left: 0;
}

.cart-over-image {
    position: absolute;
    top: 35px;
    left: 0;
}

.date-news {
    font-style: italic;
    color: #ababab;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.action-news {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.image-news {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.menu-item {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.register-lead {
    margin-bottom: 0;
    margin-top: 0.3rem;
}

.register-title {
    padding-bottom: 1rem;
}

#gSignInWrapper, .fb-login {
    margin-bottom: 0.5rem;
}

.register-terms, .forgot-password {
    font-size: 0.87rem;
}

.register-button, .register-text {
    margin-bottom: 0;
}

.form-small-text p {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 1rem;
}

#phone,
#city-country,
#bio,
#full-address,
#paypal-email,
#item-category,
#item-subcategory,
#sell-price,
#price-one-month,
#item-pic-main,
#item-pic-other,
#item-pic-front,
#item-pic-side,
#item-pic-back,
#item-pic-label,
#item-pic-certificate {
    margin-bottom: 0;
}

.file-upload {
    margin-bottom: 1rem;
}

.settings-title {
    margin-bottom: 1rem;
}

.settings-subtitle {
    margin-bottom: 1rem;
}

#notifications label,
#list-item-form label {
    font-size: 1rem;
}

#notifications input {
    margin-left: 2rem;
}

#notifications {
    margin-bottom: 1rem;
}

#bio {
    height: 7rem;
}

.rent-sell-selection {
    display: none;
}

h4.marginbot-1halfrem {
    margin-bottom: 1.5rem;
}

.marginbottom-1rem {
    margin-bottom: 1rem;
}

.show-for-small-only img,
.show-for-medium-only img,
.show-for-large-up img {
    width: 100%;
}

.front-grid-padding-base {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.percent-20 {
    width: 20%;
    position: relative;
    float: left;
}

.percent-40 {
    width: 40%;
    position: relative;
    float: left;
}

.percent-60 {
    width: 60%;
    position: relative;
    float: left;
}

.width-70 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.width-90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.my-closet a {
    font-size: 0.8rem;
}

a.my-closet-title {
    font-size: 1rem;
}

.my-closet li {
    line-height: 1;
}

.item-hidden img {
    opacity: 0.2;
}

.item-hidden a {
    color: #a7a7a7;
}

.text-hidden {
    position: absolute;
    top: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
}

p.text-hidden {
    color: #a7a7a7;
}

.item-hidden a:hover {
    color: #333333;
}

a:hover {
    color: #fb7e83;
}

.about-us h4, .about-us h3 {
    padding-bottom: 1rem !important;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.full-width {
    width: 100%;
}

#trust-seller-title {
    position: absolute;
    top: 2rem;
    left: 4rem;
    text-transform: uppercase;
    color: white;
    opacity: 0.9;
}

h3#trust-seller-title {
    font-size: 240%;
    text-shadow: 2px 2px 5px #4d4d4d;
    font-weight: bold;
}

#trust-seller-img {
    position: absolute;
    top: -19rem;
    left: 6rem;
    width: 54%;
}

.trust-seller-text h4 {
    padding-top: 1.5rem;
    font-weight: bold;
}

.trust-seller-text {
    padding-right: 6rem;
}

#trust-money-title {
    position: absolute;
    top: 2rem;
    left: 4rem;
    text-transform: uppercase;
    color: white;
}

h3#trust-money-title {
    font-size: 240%;
    text-shadow: 2px 2px 4px #4d4d4d;
    font-weight: bold;
}

#trust-support-title {
    text-align: right;
    position: absolute;
    top: 2rem;
    right: 4rem;
    text-transform: uppercase;
    color: white;
}

h3#trust-support-title {
    font-size: 240%;
    text-shadow: 2px 2px #4d4d4d;
    font-weight: bold;
}

.trust-support-text {
    position: absolute;
    text-align: right;
    right: 4rem;
    top: 6rem;
}

    .trust-support-text h4 {
        font-weight: bold;
    }


h3#trust-questions-title {
    font-size: 240%;
    text-transform: uppercase;
    font-weight: bold;
}

.trust-questions-text {
    font-weight: bold;
}

.trust-border-box {
    border: 1px solid #ababab;
    width: 95%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    float: none;
    position: relative;
    background-color: #f3f3f3;
}

.trust-padding-bottom {
    padding-bottom: 1.5rem;
}

.cart-title,
.cart-price {
    font-weight: bold;
    text-transform: uppercase;
}

.remove-cart {
    text-transform: uppercase;
    color: #a8a8a8;
    font-size: 80%;
}

.align-right {
    text-align: right;
}

.cart-text {
    margin-bottom: 0;
}

.cart-subtotal {
    text-transform: uppercase;
    text-align: right;
}

.cart-delivery {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 0;
}

.delivery-info {
    font-size: 80%;
}

.delivery-shipping label {
    font-size: 100%;
    color: #222;
}

.checkout-button {
    float: right;
}

.align-right-float {
    float: right;
}

.cart-title-review,
.cart-price-review {
    text-transform: uppercase;
}

.billing-address {
    font-weight: bold;
}

#billing-info label {
    font-size: 100%;
}

#shipping-info label {
    font-size: 100%;
}

#payment label {
    font-size: 100%;
}

/* Credit Card Validation */
.credit-cards {
    overflow: hidden;
}

    .credit-cards li {
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        background-image: url(./../images/checkout/card_logos.png);
        background-position: 0 0;
        float: left;
        height: 32px;
        margin-right: 8px;
        text-indent: -9999px;
        width: 51px;
    }

        .credit-cards li:last-child {
            margin-right: 0;
        }

    .credit-cards .visa_electron {
        background-position: 204px 0;
    }

    .credit-cards .mastercard {
        background-position: 153px 0;
    }

    .credit-cards .maestro {
        background-position: 102px 0;
    }

    .credit-cards .discover {
        background-position: 51px 0;
    }

    .credit-cards .visa.off {
        background-position: 0 32px;
    }

    .credit-cards .visa_electron.off {
        background-position: 204px 32px;
    }

    .credit-cards .mastercard.off {
        background-position: 153px 32px;
    }

    .credit-cards .maestro.off {
        background-position: 102px 32px;
    }

    .credit-cards .discover.off {
        background-position: 51px 32px;
    }


#payment input.valid {
    background: url(./../images/checkout/tick.png) no-repeat;
    background-position: 97% 50%;
}

/* End of Credit card validation */

.checkout-subtitle {
    font-weight: bold;
}

.order-complete {
    font-weight: bold;
    text-transform: uppercase;
}

.orbit-bullets {
    margin-bottom: 20px;
}

.reviews-rent-item h4 {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

.social-icons {
    margin-top: 0.8rem;
}

.facebook-like,
.twitter-tweet,
.pinterest-pin {
    margin-top: 5px;
}

.orbit-container .orbit-slides-container img {
    width: 100%;
}

.button.wishlist-touch-button {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.wishlist-touch-button.button i {
    font-size: 1.1rem;
    line-height: 0.8rem;
}

.reveal-modal .close-reveal-modal.no-style {
    position: relative;
    font-weight: normal;
    color: rgb(232, 37, 45);
    line-height: 1.6;
    font-size: 1rem;
    top: 0px;
    right: 0px;
}

    .reveal-modal .close-reveal-modal.no-style:hover {
        color: #fb7e83;
    }

.item-name {
    text-transform: uppercase;
    font-weight: bold;
}

.closet-item img {
    width: 100%;
}

.wishlist-over-image-touch {
    position: absolute;
    top: 0px;
    padding: 0.5rem;
}

    .wishlist-over-image-touch .tiny.button {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }

    .wishlist-over-image-touch i {
        font-size: 1rem;
    }

.cart-over-image-touch {
    position: absolute;
    top: 45px;
    padding: 0.5rem;
}

    .cart-over-image-touch .tiny.button {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }

    .cart-over-image-touch i {
        font-size: 1rem;
    }

.closet-item img {
    width: 100%;
}

.rent-button {
    font-size: 0.8rem;
    font-weight: bold;
}

.rent-info .rent-button {
    font-size: 0.8rem;
    font-weight: bold !important;
    margin-bottom: 0;
}

.ui-datepicker-header {
    background-color: white;
}

.ui-datepicker-prev {
    padding-left: 10px;
}

.ui-datepicker-next {
    padding-right: 10px;
}

.date-prefix {
    text-transform: uppercase;
}

.rental-title {
    margin-bottom: 0.5rem;
}

#rental-message {
    height: 12rem;
}

.request-button {
    font-weight: bold !important;
    text-transform: uppercase;
}

/* Rental messages arrow */
.arrow_box_left {
    position: relative;
    background: #fff;
    border: 1px solid #cb2027;
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .arrow_box_left:after, .arrow_box_left:before {
        right: 100%;
        top: 30%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box_left:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 10px;
        margin-top: -10px;
    }

    .arrow_box_left:before {
        border-color: rgba(203, 32, 39, 0);
        border-right-color: #e8252d;
        border-width: 11px;
        margin-top: -11px;
    }

.arrow_box_right {
    position: relative;
    background: #fff;
    border: 1px solid #e8252d;
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .arrow_box_right:after, .arrow_box_right:before {
        left: 100%;
        top: 30%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box_right:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width: 10px;
        margin-top: -10px;
    }

    .arrow_box_right:before {
        border-color: rgba(203, 32, 39, 0);
        border-left-color: #e8252d;
        border-width: 11px;
        margin-top: -11px;
    }

    .arrow_box_right p, .arrow_box_left p {
        margin-bottom: 0;
    }

.rental-picture {
    margin-bottom: 1rem;
}

.payment-status {
    font-weight: bold;
}

.payment-text {
    margin-bottom: 0;
}

.cart-title-review-bold {
    font-weight: bold;
    text-transform: uppercase;
}

.request-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.rental-status {
    margin-bottom: 1rem;
}
/* Star Ratting */
.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 125px;
    height: 25px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
    top: 6px;
}

    .star-rating i {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20%;
        z-index: 1;
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNFODI1MkQiIHBvaW50cz0iMTAsMCAxMy4wOSw2LjU4MyAyMCw3LjYzOSAxNSwxMi43NjQgMTYuMTgsMjAgMTAsMTYuNTgzIDMuODIsMjAgNSwxMi43NjQgMCw3LjYzOSA2LjkxLDYuNTgzICIvPg0KPC9zdmc+');
        background-size: contain;
        fill: #ace63c;
    }

    .star-rating input {
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 0;
        display: inline-block;
        width: 20%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 2;
        position: relative;
    }

        .star-rating input:hover + i,
        .star-rating input:checked + i {
            opacity: 1;
        }

    .star-rating i ~ i {
        width: 40%;
    }

        .star-rating i ~ i ~ i {
            width: 60%;
        }

            .star-rating i ~ i ~ i ~ i {
                width: 80%;
            }

                .star-rating i ~ i ~ i ~ i ~ i {
                    width: 100%;
                }


/* End of star rating */

.review-text {
    font-style: italic;
}

.choice {
    margin-left: 1rem;
}

#review-message {
    height: 12rem;
    margin-top: 1rem;
}

.history-review {
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
    border: 1px solid #e8252d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.history-stars {
    color: #e8252d;
    font-size: 130%;
    margin-bottom: 0;
}

.history-review p {
    margin-bottom: 0;
}

.image-catalog {
    position: relative;
}

.sold-out {
    position: absolute;
    top: 70%;
    text-align: center;
    left: 0%;
    width: 100%;
    color: white !important;
    background-color: #4d4d4d;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 130%;
    opacity: 0.6;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.questions-text {
    padding-left: 4rem;
}

.help-center-menu {
    text-transform: uppercase;
    font-weight: bold;
}

    .help-center-menu li {
        border: 1px solid #a8a8a8;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0.3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0.3rem;
    }

li.help-center-selected {
    background-color: #e8252d;
    border: 1px solid white;
    color: white;
}

.empty-title {
    height: 11rem;
    background-color: #ea3b42;
}

@media only screen and (max-width: 40em) {
    .empty-title {
        height: 14rem;
    }
}

.delivery-text {
    padding-left: 4rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}

.help-center-text {
    padding-left: 4rem;
    padding-right: 4rem;
}

    .help-center-text h4,
    .help-center-text-list h4 {
        font-weight: bold;
        padding-top: 1.5rem;
    }

.help-center-text-list {
    padding-right: 4rem;
}

@media only screen and (max-width: 40em) {
    .help-center-text-list {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

.question-mark {
    font-size: 250%;
}

.faq-text {
    padding-bottom: 1.5rem;
}

.fees-text {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.bold {
    font-weight: bold;
}

.how-it-works-title {
    font-size: 300% !important;
}

.picture-title {
    position: absolute;
    text-transform: uppercase;
    color: white;
    opacity: 0.9;
    font-size: 240%;
    text-shadow: 2px 2px 5px #4d4d4d;
    font-weight: bold;
}

#picture-title-01 {
    top: 75%;
    left: 39%;
}

#picture-title-02 {
    top: 37%;
    left: 26%;
}

#picture-title-03 {
    top: 13%;
    left: 9%;
}

#picture-title-04 {
    top: 54%;
    left: 54%;
}

#picture-title-05 {
    top: 6%;
    left: 54%;
}

#picture-title-06 {
    top: 61%;
    left: 12%;
}

h4.how-it-works {
    font-weight: 300;
    font-size: 120%;
    padding-top: 0;
    text-align: center;
}

.how-it-works-box {
    padding-top: 2rem;
}

.item-new {
    -webkit-box-shadow: 1px 1px 2px 0px rgba(219,219,219,0.5);
    -moz-box-shadow: 1px 1px 2px 0px rgba(219,219,219,0.5);
    box-shadow: 1px 1px 2px 0px rgba(219,219,219,0.5);
}

.messages-name p,
.messages-text p,
.messages-date p {
    height: 80px;
}

.messages-name p,
.messages-text p,
.messages-date p {
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    /* fallback for non-Flexbox browsers */
    display: inline-block;
    /* Flexbox browsers */
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    /* vertical centering for legacy, horizontal centering for modern */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* modern Flexbox only */
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* legacy Flexbox only */
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.unread-message p {
    font-weight: bold;
}

.messages-row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.messages-line {
    margin: 0;
}

.messages-row:hover {
    background-color: #edebeb;
}

.messages-line-first {
    margin-bottom: 0;
    margin-top: 1.25rem;
}

.messages-list a {
    color: black;
}

    .messages-list a:hover {
        color: #fb7e83;
    }

.messages-selected-page {
    font-weight: bold;
}

.messages-pager p {
    float: right;
    font-size: 80%;
    margin-bottom: 0;
}

.messages-pager {
    margin-top: 0.5rem;
}

.wishlist-delete i,
.wishlist-delete-touch i {
    color: #a7a7a7;
}

.wishlist-delete,
.wishlist-delete-touch {
    position: absolute;
    top: 5px;
    right: 5px;
}

.wishlist-cart-over-image,
.wishlist-cart-over-image-touch {
    position: absolute;
    top: 5px;
    left: 5px;
}

    .wishlist-cart-over-image-touch .tiny.button {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }

    .wishlist-cart-over-image-touch i {
        font-size: 1rem;
    }

.description-item {
    height: 8rem;
}

.item-text {
    font-weight: bold;
}

.edit-item {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: bold;
    margin-left: 1rem;
}

#edit-picture-main,
#edit-picture-front,
#edit-picture-side,
#edit-picture-back,
#edit-picture-label,
#edit-picture-certificate,
#edit-picture-other{
    position:absolute;
    top:0rem;
    left:6rem;
}

#item-picture-main,
#item-picture-front,
#item-picture-side,
#item-picture-back,
#item-picture-label,
#item-picture-certificate,
#item-picture-other{
    position:relative;
}

#item-picture-main img,
#item-picture-front img,
#item-picture-side img,
#item-picture-back img,
#item-picture-label img,
#item-picture-certificate img,
#item-picture-other img{
    margin-bottom:1rem;
}

/* Blog Page */

.blog-pic{
    position:relative;
    width:500px;
}

.blog-picture-item{
    width:30px;
    height:30px;
    position:absolute;
    background-color:white;
    color:#e8252d;
    border: solid 1px #e8252d;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size:120%;
    vertical-align:middle;
    text-align:center;
    line-height:30px;
    cursor:pointer;
}

#blog-picture-item-1{
   top:250px;
    left:270px;
}

#blog-picture-item-2{
    top:450px;
    left:290px;
}

#blog-picture-item-3{
    top:600px;
    left:300px;
}

.blog-details{
    background-color:white;
    color:black;
    width:250px;
    height:110px;
    border: solid 1px black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:absolute;
    top:43px;
    left:-20px;
    padding:5px;
    z-index:9999;
}

.blog-details img{
    float:left;
}

.blog-details p{
    font-size:65%;
}

.arrow_box_blog:after, .arrow_box_blog:before {
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_blog:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: white;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box_blog:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: black;
	border-width: 11px;
	margin-left: -11px;
}

.title-picture-blog{
    font-weight:bold;
    text-transform:uppercase;
}

.price-picture-blog{
    font-style:italic;
    font-size:80%;
}

.written-by {
    font-style:italic;
}

.fb-comments{
    margin-top:2rem;
}

.blog-sidebar-category{
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
    padding:1rem;
}

.arrow_box_sidebar {
	position: relative;
	background: #f2f2f2;
	border: 2px solid black;
}
.arrow_box_sidebar:after, .arrow_box_sidebar:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_sidebar:after {
	border-color: rgba(242, 242, 242, 0);
	border-top-color: #f2f2f2;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box_sidebar:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: black;
	border-width: 13px;
	margin-left: -13px;
}

.blog-profile{
      -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    float:left;
    margin-right:0.3rem;
}

.blog-name{
    text-transform:uppercase;
    font-weight:bold;
}

.blog-date{
    text-transform:uppercase;
    background-color:#f2f2f2;
}

.blog-info{
    float:left;
}

.social-blog{
    float:right;
}

.blog-title{
    font-weight:bold;
    text-align:center;
    margin-bottom:1rem;
}

.social-blog{
    margin-left:0.5rem;
}

.blog-pic-action{
    position:relative;
}

/* End of blog page */

/* Blog Index page */

.blog-second{
    padding:1rem;
}

.blog-first{
    padding:1rem;
}

.blog-profile-index{
     -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float:left;
    margin-right:0.3rem;
}

.blog-info{
    font-size:70%;
    line-height:1;
}

.blog-first h2,
.blog-second h2{
    margin-top:2.7rem;
}

.blog-first:hover,
.blog-second:hover{
    background-color: #f2f2f2;
    font-weight:600;
}

.blog-first:hover h2,
.blog-second:hover h2{
    font-weight:400;
}

.event-details{
    font-weight:bold;
    background-color:#f2f2f2;
}

#mce-EMAIL {
         width:10rem;
         float:right;
     }

     #mc-embedded-subscribe{
         background-color:#e8242e;
         color:white;
         font-size:1rem;
         padding-top:0.5rem;
         padding-bottom:0.5rem;
     }

     .cover-button{
         padding-left:0px !important;
     }

     .cover-updates {
        
        text-transform:uppercase;
        font-weight:900;
        font-size:1.2rem;
    }

     #mc_embed_signup{
         position:absolute;
         top:15%;
         width:308px;
         left:50%;
         margin-left:-154px;
     }